.successes {
  padding-top: 28px;
  padding-bottom: 15px;
  background-color: var(--color-background);

  @include media-phone-screen() {
    padding-top: 20px;
  }
}

.successes__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.successes__title {
  @include font-xxs-small();
  color: var(--color-main-primary);
  font-weight: 700;
  text-transform: uppercase;
}

.successes__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 40px;

 @include media-wide-screen () {
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
 }

  @include media-small-tablet-screen() {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @include media-phone-screen() {
    grid-template-rows: auto;
  }

  @include media-mini-phone-screen() {
    grid-template-columns: 1fr;
  }
}

.successes__item {
  background-color: var(--color-main-white);
  border-radius: 12px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;


  @include media-phone-screen() {
    &:nth-child(3),
    &:nth-child(4) {
      display: none;
    }
    padding: 15px;
  }
}



