.cases {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cases__list {
  display: grid;
  grid-template-columns: 24.34% 8.42% 26.19% 8.2% 32.78%;
  grid-template-rows: 57px 198px 184px 198px;
  background-color: var(--color-background);
}

.cases__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--color-main-white);

  &:hover {
    background-color: var(--color-background-alternative);
  }
}

.cases__item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.cases__item:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.cases__item:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.cases__item:nth-child(4) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.cases__item:nth-child(5) {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cases__item:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.cases__item:nth-child(7) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.cases__item:nth-child(8) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
}

.cases__item--hidden {
  position: relative;

  &:hover {
    &::after {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      background-image: url('../static/Image/switch-hover.svg');
      background-repeat: no-repeat;
      position: absolute;
      right: 20px;
      bottom: 40px;
    }
  }
}

.cases__item__title {
  @include font-xxs-small();
  font-weight: 700;
  color: var(--color-accent);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cases__item-text {
  @include font-medium();
  font-weight: 500;
  color: var(--color-main--tertiary);
}

.cases__item-standard {
  @include font-small();
  color: var(--color-main-black);
  width: 67.6%;
}

.cases__company-name {
  @include font-small();
  color: var(--color-background-text);
}
