.main-title {
  @include font-mega();
  font-weight: 700;
  color: var(--color-accent);
}

.primary-title {
  @include font-title();
  font-weight: 500;
  color: var(--main-primary-color);
}

.tertiary-title {
  @include font-medium();
  color: var(--main-primary-color);
}

.caps-title {
  @include font-xxs-small();
  font-weight: 700;
  color: var(--main-primary-color);
}

.subtitle {
  @include font-small-2();
  color: var(--main-primary-color);
}

.paragraph {
  @include font-small();
  color: var(--color-main-black);
}

.list__title {
  @include font-xs-small();
  font-weight: 700;
  color: var(--color-title);
}

.list__unordered {
  list-style: initial;
}

.list__item {
  @include font-small();
  font-weight: 500;
  color: var(--color-main-black);
}

.list-ordered {
  list-style: decimal;
}

.link__title {
  @include font-xs-small();
  font-weight: 700;
  color: var(--color-title);
}

.link {
  display: block;
  font-size: 1.6rem;
  line-height: calc(20 / 16);
  font-weight: 500;
  color: var(--color-active-regular);

  &:hover {
    color: var(--color-accent);
  }
}

.assets__title {
  font-size: 2.1rem;
  line-height: calc(25 / 21);
  font-weight: 700;
  color: var(--color-title);
}

.assets__wrapper-image {
  display: flex;
  align-items: center;
  gap: 30px;
}

.button {
  @include font-xxs-small();
  min-width: 250px;
  padding: 16px 17px;
  color: var(--color-main-white);
  background-color: var(--color-active-regular);
  border-radius: 12px;

  &:hover {
    background-color: var(--color-active-hover);
  }

  &:active {
    background-color: var(--active-color);
  }
}

.wrapper__switcher {
  padding-top: 30px;
  padding-bottom: 30px;
}

.slider__wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

.slider-circle {
  &:hover {
    opacity: 0.6;
  }

  .slider-circle--selected,
  &:active {
    opacity: 1;
  }
}

.wrapper__switch {
  width: 260px;
  height: 40px;
  background-color: var(--color-background-separater);
  border-radius: 12px;
  padding: 1px 122px 1px 1px;
  border: 1px solid var(--color-background-text);
  position: relative;
}

.switch__elem {
  -webkit-appearance: unset;
  cursor: pointer;
  z-index: 1;

  &:hover ~ .switch__text {
    background-color: var(--color-background);
  }

  &:checked ~ .switch__text:before {
    transform: translateX(127px);
    opacity: 1;
  }

  &:checked ~ .switch__text {
    background-color: unset;
  }
}

.switch__text {
  @include font-small-2();
  font-weight: bold;
  width: 127px;
  background-color: var(--color-main-white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  z-index: 3;

  &:before {
    content: '';
    width: 127px;
    background-color: var(--color-main-white);
    border-radius: 10px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s linear;
    transform: translateX(0);
  }
}

.switch__text--2 {
  @include font-small-2();
  font-weight: bold;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 4;
}

.form--help {
  display: flex;
  flex-direction: column;
  width: 527px;
  padding: 20px;
  background-color: var(--color-background);
}

.form__input {
  @include font-small();
  -webkit-appearance: none;
  color: var(--color-background-text);
  width: 100%;
  padding: 10px;
  border-color: transparent;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form__text {
  @include font-small();
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  border-color: transparent;
  border-radius: 8px;
  color: var(--color-main-black);
  margin-bottom: 20px;
}

.form__caption {
  margin-bottom: 10px;
}
