.experience {
  @include gradient-supersoft();
  padding-top: 80px;
  padding-bottom: 110px;
}

.experience__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.experience__list {
  width: 507px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  text-align: right;
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 100%;
    background-color: var(--color-main-white);
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.experience__item {
  padding-right: 40px;
  position: relative;
  transition: all 0.3s;

  &:hover {
    @include gradient-red-text();
  }

  .experience__item--selected,
  &:active {
    &::after {
      content: '';
      display: inline-block;
      width: 4px;
      height: 100%;
      background-color: var(--color-accent);
      position: absolute;
      right: 0;
      z-index: 3;
    }
  }
}

.experience__button {
  @include font-mega();
  display: inline-block;
  font-weight: 700;
  color: var(--color-background-text);
  text-align: right;
}

.experience__wrapper-content {
  width: 600px;
}

.experience__title {
  @include font-title();
  font-weight: 500;
  color: var(--color-main-white);
  margin-bottom: 20px;
}

.experience__text {
  font-size: 2.1rem;
  line-height: calc(30 / 21);
  color: var(--color-main-white);
}
