.experience {
  padding-top: 80px;
  padding-bottom: 110px;
  @include gradient-supersoft();
}

.experience__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.experience__List {
  width: 507px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  text-align: right;
  border-right: 4px solid #FFFFFF;
}

.experience__item {
  @include fonts-600();
  font-weight: 700;
  color: var(--background-text-color);
  padding-right: 40px;

  &:hover {
    @include gradient-red-text();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 4px solid #F0145A;
  }

  &:active {
    border-right: 4px solid #F0145A;
  }
}

.experience__wrapper-content {
  width: 600px;
}

.experience__title {
  @include fonts-500();
  font-weight: 500;
  color: var(--main-white-color);
  margin-bottom: 20px;
}

.experience__text {
  font-size: 2.1rem;
  line-height: calc(30 / 21);
  color: var(--main-white-color);
}
