.footer {
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-small-screen() {
    padding-bottom: 81px;
  }

  @include media-phone-screen() {
    background-color: var(--color-background);
    padding-top: 20px;
    padding-bottom: 118px;
  }
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include media-small-screen() {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px;
  }

  @include media-phone-screen() {
    gap: 20px;
  }
}

.footer__list {
  display: grid;
  grid-template-columns: 38px repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 10px;

  @include media-phone-screen() {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.footer__item--address {
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer__item--with-dot {
  padding-left: 16px;
  background-image: url('../static/Image/Dot-separator.svg');
  background-repeat: no-repeat;
  background-position: left 0 center;

  @include media-phone-screen() {
    background-image: none;
    padding-left: 0;
  }
}

.footer__link {
  @include font-xs-small();
  font-weight: 700;
  color: var(--color-main-primary);

  &:hover {
    color: var(--color-accent);
  }
}

.footer__path:hover {
  fill: var(--color-accent);
}

.footer__paragraph {
  @include font-xs-small();
  font-weight: 500;
  color: var(--color-background-text);

  @include media-phone-screen() {
    text-align: center;
  }
}
