.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__list {
  display: grid;
  grid-template-columns: 38px repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
}

.footer__item--address {
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer__item--with-dot {
  padding-left: 16px;
  background-image: url('../static/Image/Dot-separator.svg');
  background-repeat: no-repeat;
  background-position: left 0 center;
}

.footer__link {
  @include font-xs-small();
  font-weight: 700;
  color: var(--main-primary-color);

  &:hover {
    color: var(--color-accent);
  }
}

.footer__path:hover {
  fill: var(--color-accent);
}

.footer__paragraph {
  @include font-xs-small();
  font-weight: 500;
  color: var(--color-background-text);
}
