.header__wrapper-form {
  grid-column: 3/5;
  display: flex;
  align-items: center;
  gap: 26px;
}

.header__form {
  display: flex;
}

.header__elem {
  -webkit-appearance: unset;

  &:hover ~ .header__elem__text {
    background-color: var(--color-background-text);
    color: var(--color-main-white);
  }

  &:checked ~ .header__elem__text {
    background-color: var(--color-accent);
    color: var(--color-main-white);
  }
}

.header__elem__text {
  font-size: 1.2rem;
  line-height: calc(14 / 12);
  color: var(--color-background-text);
  text-align: center;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 8px;
  background-color: var(--color-main-white);
}
