.link-types {
  padding-top: 30px;
  padding-bottom: 30px;
}
.link-types__title {
  font-size: 1.6rem;
  line-height: calc(19 / 16);
  font-weight: 700;
  color: var(--color-title);
  margin-bottom: 10px;
}

.link-types__link {
  display: block;
  font-size: 1.6rem;
  line-height: calc(20 / 16);
  font-weight: 500;
  color: var(--active-regular-color);
  margin-bottom: 10px;
  &:hover {
    color: var(--accent-color);
  }
}


