.typography {
  padding-top: 30px;
  padding-bottom: 30px;
}

.typography__main-title {
  @include fonts-600();
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.typography__primary-title {
  @include fonts-500();
  font-weight: 500;
  color: var(--main-primary-color);
  margin-bottom: 20px;
}

.typography__tertiary-title {
  @include fonts-400();
  color: var(--main-primary-color);
  margin-bottom: 20px;
}

.typography__caps-title {
  @include fonts-300();
  font-weight: 700;
  color: var(--main-primary-color);
  margin-bottom: 20px;
}

.typography__subtitle {
  @include fonts-200();
  color: var(--main-primary-color);
  margin-bottom: 20px;
}

.typography__paragraph {
  @include fonts-100();
  color: var(--main-black-color);
}
