.hero__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    42.01deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
  );
  background-repeat: no-repeat;
  background-position: center;
}

.Hero {
  flex-grow: 1;
  padding-top: 243px;
  padding-bottom: 20px;
  background-image: linear-gradient(
      180deg,
      rgba(50, 50, 100, 0) 16.67%,
      #323264 100%
    ),
    url('../static/Image/background__big-P.svg'),
    url('../static/Image/background__small-p.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 210px, 600px 687px, auto;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 42px;
    height: 42px;
    background-image: url('../static/Image/hero__scroll-down.svg');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    left: 980px;
  }
}

.hero__container {
  display: flex;
  justify-content: center;
}

.hero__title {
  width: 500px;
  font-size: 3.8rem;
  line-height: calc(45 / 38);
  color: var(--color-main-white);
  text-align: center;
  margin-bottom: 290px;
}
