@mixin media-wide-screen() {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin media-tablet-screen() {
  @media screen and (max-width: 1260px) {
    @content;
  }
}

@mixin media-small-tablet-screen() {
  @media screen and (max-width: 1100px) {
    @content;
  }
}

@mixin media-small-screen() {
  @media screen and (max-width: 960px) {
    @content;
  }
}

@mixin media-phone-screen() {
  @media screen and (max-width: 768px) {
    @content;
  }
}
