.head-partner {
  padding-top: 40px;
  padding-bottom: 80px;

  @include media-small-tablet-screen() {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @include media-small-screen() {
    padding-top: 15px;
  }
}

.head-partner__container {
  display: flex;
  justify-content: center;

  @include media-small-screen() {
    flex-direction: column;
  }
}

.head-partner__image {
  height: 500px;

  @include media-small-tablet-screen() {
    width: 40%;
  }

  @include media-small-screen() {
    width: 100%;
    height: auto;
  }
}

.head-partner__wrapper-content {
  width: 641px;
  padding: 20px 50px 0 40px;

  @include media-small-tablet-screen() {
    width: 60%;
    padding: 20px 20px 0 40px;
  }

  @include media-small-screen() {
    width: 100%;
    padding: 20px 10px 0 10px;
  }

}

.head-partner__title {
  @include font-mega() ;
  @include gradient-red-text();
  font-weight: 600;
  margin-bottom: 10px;

  @include media-small-screen() {
    font-size: 3.2rem;
  }
}

.head-partner__list {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 4px solid var(--color-background-separater);
  margin-bottom: 40px;

  @include media-small-tablet-screen() {
    margin-bottom: 20px;
  }

  @include media-small-screen() {
    flex-direction: column;
  }
}

.head-partner__item {
  padding-left: 16px;
  background-image: url("../../Image/Dot-separator.svg") ;
  background-repeat: no-repeat;
  background-position: left 0 center;

  &:first-child {
    padding-left: 0;
    background-image: unset;
  }

  @include media-small-screen() {
    padding-left: 0;
    background-image: unset;
  }
}

.head-partner__link {
  color: var(--color-background-text);
  font-size: 1.6rem;
  line-height: 1.2;

  &:hover {
    color: var(--color-active-regular);
  }

  @include media-small-screen() {
    padding-left: 0;
    background-image: unset;
  }
}

.head-partner__paragraph {
  @include font-small();
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-small-tablet-screen() {
    margin-bottom: 20px;
  }
}

.head-partner__paragraph--first {
  margin-bottom: 20px;
}

.head-partner__subtitle {
  @include font-xxs-small();
  color: var(--color-main-primary);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}