.clients {
  padding-top: 15px;

  @include media-phone-screen() {
    padding-bottom: 10px;
  }
}

.clients__title {
  @include font-xxs-small();
  font-weight: 700;
  color: var(--color-main-primary);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.clients__list {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 120px);
  justify-content: center;

  @include media-small-screen() {
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(4, 120px);
  }

  @include media-phone-screen() {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 120px);
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-phone-screen() {
    padding: 15px;
  }
}

.clients__image {
  @include media-phone-screen() {
    width: 100%;
  }
}
