.header {
  padding-top: 60px;
  padding-bottom: 30px;
}

.header__container {
  display: grid;
  grid-template-columns: 33.3% 21.13% 15% 30.6%;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 19px;
}

.logo {
  grid-row: 1/3;
  display: flex;
  align-items: center;
  gap: 1px;

  @include media-small-tablet-screen() {
    grid-row: 2/3;
  }
}

.logo__text {
  font-size: 3.8rem;
  line-height: calc(45 / 38);
  color: var(--color-main-primary);
}

.logo__text--second {
  font-size: 3.8rem;
  line-height: calc(45 / 38);
  color: var(--color-main-white);
}


.header__list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__list-item {
  padding-left: 20px;
  background-image: url('../../Image/Dot-separator.svg');
  background-repeat: no-repeat;
  background-position: left 0 center;

  @include media-wide-screen() {
    padding-left: 13px;
  }

  @include media-tablet-screen() {
    background-image: none;
    padding-left: 0;
  }

  @include media-small-tablet-screen() {
    &:first-child,
    &:last-child {
      display: none;
    }
  }
}

.header__list-link {
  @include font-xs-small();
  font-weight: 700;

  &:hover {
    color: var(--color-active-regular);
  }

}

.header__list-link--first {
  color: var(--color-main-white);
}

.header__list-link--second {
  color: var(--color-background-text);
}


.header__nav {
  grid-column: 4/5;

  @include media-small-tablet-screen() {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 15px;

  @include media-wide-screen() {
    gap: 9px;
  }
}

.header__nav-list__link {
  @include font-small-2();

  &:hover {
    color: var(--color-accent);
  }
}

.header__nav-list__link--first {
  color: var(--color-main-white);
}

.header__nav-list__link--second {
  color: var(--color-active-regular);
}

.header__path:hover {
  fill: var(--color-active-regular);
}

.link-current-page {
  border-bottom: 1px solid var(--color-accent);
}
