.benefits__wrapper {
  @include gradient-supersoft();
  border-radius: 0 0 12px 12px;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: calc(100% - 40px);
    height: 10px;
    background-color: #cacadb;
    border-radius: 0 0 12px 12px;
    position: absolute;
    bottom: -10px;
    left: 20px;
    z-index: 3;
  }

  &::after {
    content: '';
    display: block;
    width: calc(100% - 100px);
    height: 10px;
    background-color: #e7e7f2;
    border-radius: 0 0 12px 12px;
    position: absolute;
    bottom: -20px;
    left: 50px;
    z-index: 1;
  }
}
