* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: TTNorms, sans-serif;
}

.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  @include gradient-supersoft;
}
