* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: TTNorms, sans-serif;
}

.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  @include gradient-soft();
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    42.01deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
  );
  background-repeat: no-repeat;
  background-position: center;
}
